.loginform{
    width: 40%;
    height: 60%;
    padding: 20px;
    background: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 13px;
}
.loginform input{
    padding-left: 25px;
    height: 35px;
    width: 260px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.loginform button{
    margin-top: 20px;
    width:50%;
    height: 35px;
    border-radius: 13px;
    border: none;
    cursor: pointer;
}
.loginform h4{
    color: white;
}