<app-navbar></app-navbar>
<div class="main">
    <form action="" class="registerform">
        <h5>Join Our Community</h5>
         <label for="firstName">
            <input type="text" class="firstName" placeholder="FirstName">
         </label>
         <label for="lastName">
            <input type="text" class="lastName" placeholder="lastName">
         </label>
         <label for="jituEmail">
            <input type="email" class="jituEmail" placeholder="jitu Email">
         </label>
         <label for="userCohort">
            <input type="text" class="userCohort" placeholder="Your Cohort Number">
         </label>
         <label for="profilePic">
            <input type="file">
         </label>
         <label for="password">
            <input type="password" class="password" placeholder="password">
         </label>
         <button type="submit">Register</button>
    </form>
</div>
